<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>智能教学管理平台</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <script src="/echarts/echarts.js"></script>
  <script src="/layui/layui.js"></script>
  <link rel="stylesheet" href="layui-tab-item.css" type="text/css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">智能教学管理平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">平台管理</a></li>
      <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          用户229346
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">精品课程管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-url="table.html" data-id="1002">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">在线考试管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">学生成绩分析</a>
          <dl class="layui-nav-child">
            <dd><a class="score-data" href="javascript:;" data-url="chart.html" data-id="1001">成绩分布</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">信息发布</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body" id="mainContent">
    <div class="layui-tab " lay-filter="main-tab" lay-allowclose="true" style="height: 100%">
      <!--<div class="layui-tab-tool open" title="收起">-->
        <!--<i class="wdfont wdicon-xiangzuojiantou"></i>-->
      <!--</div>-->
      <ul class="layui-tab-title">
        <li lay-id="0" class="layui-this"><i class="wdfont wdicon-shouye"></i>首页</li>
      </ul>
      <div class="layui-tab-content" style="height: 100%">
        <div class="layui-tab-item layui-show" style="height: 100%">
          <iframe id="0" src="welcome.html" class="layui-tab-iframe" style="height: 100%;width: 100%"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © www.jsycmc.com
  </div>
</div>
<script src="base.js"></script>
</body>
</html>
